{% extends "base.html" %}
{% block content %}
<div id="albumDiv">
  <div id="album_info">
    <div id="album_cover">
      <img src="/static/pics/{{pic_url}}" alt="{{album_name}}" />
    </div>
    <div id="instrument_list">
      <p style="padding-top:0;">Acoustic: {{acoustic}}</p>
      <p>Electric: {{electric}}</p>
      <p>Bass: {{bass}}</p>
      <p>Drums: {{drums}}</p>
    </div>
  </div>
  <div id="tracklistTable"></div>
</div>

<script>
  const table = new Tabulator("#tracklistTable", {
    height: "auto",
    data: JSON.parse('{{all_songs | tojson}}'),
    groupBy: "type",
    layout:"fitColumns",
    initialSort: [
      {column: "trackNo", "dir": "asc"}
    ],
    columns:[
      {title:"#", field:"trackNo", width:50, hozAlign: "center", sorter: "number"},
      {title:"Title", field:"", headerSort: false, formatter: titleFormatter, minWidth: 200},
      {title:"Tab", field:"tab", width: 100, hozAlign: "center", formatter: tabFormatter, headerSort: false},
      {title:"Chords", field:"chords", width: 100, hozAlign: "center", formatter: tabFormatter, headerSort: false},
      {title:"Solo", field:"solo", width: 100, hozAlign: "center", formatter: tabFormatter, headerSort: false},
      {title:"Bass", field:"bass", width: 100, hozAlign: "center", formatter: tabFormatter, headerSort: false},
      {title:"Drums", field:"drums", width: 100, hozAlign: "center", formatter: tabFormatter, headerSort: false},
      {title:"Lyrics", field:"lyrics", width: 100, hozAlign: "center", formatter: lyricsFormatter, headerSort: false}
    ],
  });

  function titleFormatter(cell, formatterParams, onRendered) {
    const data = cell.getData();
    const url = data["video"];
    return  "<div style='display:flex;align-items:center;'>"+
              `<a href='${url}' target='_blank' style='display:flex;margin-right:.5rem;'>`+
                "<img src='/static/pics/youtube-icon.png' height=15 />"+
              "</a>"+
            data["title"]+
            "</div>";
  }

  function tabFormatter(cell, formatterParams, onRendered) {
    const data = cell.getData();
    const field = cell.getField();
    const tabs = data.tabs;
    if (tabs[field] == null) {
      return "";
    }
    return `<a href="${tabs[field]}" target="_blank">${field}</a>`;
  }

  function encodeLyricsTitle(title) {
    return title.replace("'", "-");
  }

  function lyricsFormatter(cell, formatterParams, onRendered) {
    const data = cell.getData();
    const link = `https://www.songlyrics.com/${data.artist}/${encodeLyricsTitle(data.title)}-lyrics/`
    return `<a href="${link}" target="_blank">lyrics</a>`;
  }

  document.getElementById("subtitle").getElementsByTagName("i")[0].innerText = "{{album_name|safe}}";
</script>
{% endblock %}