{% extends "base.html" %}
{% block content %}
<div style="background: rgba(0,0,0,.75);padding:5%;padding-top:0;">
  <div id="album_info">
    <div id="album_cover">
      <img src="/static/pics/{{pic_url}}" alt="{{album_name}}" />
    </div>
    <div id="instrument_list">
      <p style="padding-top:0;">Acoustic: {{acoustic}}</p>
      <p>Electric: {{electric}}</p>
      <p>Bass: {{bass}}</p>
      <p>Drums: {{drums}}</p>
    </div>
  </div>
  <div id="tracklistTable">
    
  </div>
  <!--
  <table id='album_songs'>
    <tr class='header'>
      {% if url == "live" %}
        <th>Where</th>
      {% else %}
        <th></th>
      {% endif %}
      <th>Title</th>      
      <th>Guitar</th>
      <th>Lyrics</th>
      <th>Bass</th>
      <th>Drums</th>
    </tr>
    {% for song in all_songs %}
      {% if song.title == "B-Sides" %}
        <tr class='header'>
          <th colspan='6' style='text-align:center;'>{{song.title}}</th>
        </tr>
      {% else %}
        <tr class='song'>
          {% if url == "live" %}
            <td>{{song.where}} ({{song.when}})</td>
          {% else %}
            <td>{{loop.index}}.</td>
          {% endif %}
          <td>{{song.title}}</td>
          {{song.tab_html|safe}}
        </tr>
      {% endif %}
    {% endfor %}
  </table>
  -->
</div>

<script>
  const table = new Tabulator("#tracklistTable", {
    height: "auto",
    data: JSON.parse('{{all_songs | tojson}}'),
    layout:"fitColumns",
    initialSort: [
      {column: "trackNo", "dir": "asc"}
    ],
    columns:[
      {title:"#", field:"trackNo", width:50, hozAlign: "center", sorter: "number"},
      {title:"Title", field:"title"},
      {title:"Tabs", field:"tabs", hozAlign: "center", formatter: tabFormatter},
      {title:"Lyrics", field:"lyrics", width: 100, hozAlign: "center", formatter: lyricsFormatter}
    ],
  });

  function lyricsFormatter(cell, formatterParams, onRendered) {
    const data = cell.getData();
    const tabs = data.tabs;
    return `<a href="/static/tabs/${'{{album_name}}'}/${data.trackNo}/lyrics.pdf" target="_blank">Lyrics</a>`;
  }

  function tabFormatter(cell, formatterParams, onRendered) {
    const data = cell.getData();
    const tabs = data.tabs;
    let html = "";
    for (tabType of ["chord", "tab", "solo", "bass", "drums"]) {
      if (tabs.indexOf(tabType+".pdf") >= 0) {
        html += `<a href="/static/tabs/${'{{album_name}}'}/${data.trackNo}/${tabType}.pdf" target="_blank">${tabType}</a>`
      }
    }
    return html;
  }

  document.getElementById("subtitle").getElementsByTagName("i")[0].innerText = "{{album_name}}";
</script>
{% endblock %}