<!DOCTYPE html>
<html>
  <head>
	<title>RHCP Tabs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/static/css/main.css" type="text/css">
	<link rel="icon" type="image/png" href="/static/pics/rhcp_favicon.png">
	<link rel="stylesheet" href="/static/css/tabulator_midnight.css" type="text/css">
	<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.1.7/dist/js/tabulator.min.js"></script>
	<script src="/static/js/jquery-3.2.1.min.js"></script>
	<script src="/static/js/vue.js"></script>
  </head>
  <body style='font-size:14px;'>
	<div id='header'>
		<h1><a href='/'>RHCP Tabs</a></h1>
		<div id="subtitle"><i>Choose Album</i></div>
	</div>
	<div id='content'>
	  {% block content %}{% endblock %}
	</div>
	<script src="/static/js/main.js"></script>
  </body>

</html>