{% extends "base.html" %}
{% block content %}
<div id="subtitle"><i>Choose Album</i></div>
<div id='thumbnail_div'>
  <div>
    <a href="#" onclick="click_link('live');">All Live Shows</a>
    <img src="/static/pics/live.jpg" alt="Live" width="140" height="140" onclick="click_link('live');"/>
  </div>
  <div>
    <a href="#" onclick="click_link('redhotchilipeppers');">Red Hot Chili Peppers (1984)</a>
    <img src="/static/pics/redhotchilipeppers.jpg" alt="Red Hot Chili Peppers" width="140" height="140" onclick="click_link('redhotchilipeppers');"/>
    
  </div>
  <div>
    <a href="#" onclick="click_link('freakystyley');">Freaky Styley (1985)</a>
    <img src="/static/pics/freakystyley.jpg" alt="Freaky Styley" width="140" height="140" onclick="click_link('freakystyley');"/>
    
  </div>
  <div>
    <a href="#" onclick="click_link('theupliftmofopartyplan');">Uplift Mofo Party Plan (1987)</a>
    <img src="/static/pics/upliftmofo.jpg" alt="Freaky Styley" width="140" height="140" onclick="click_link('theupliftmofopartyplan');"/>
    
  </div>
  <div>
    <a href="#" onclick="click_link('mothersmilk');">Mother's Milk (1989)</a>
    <img src="/static/pics/mothersmilk.jpg" alt="Mother's Milk" width="140" height="140" onclick="click_link('mothersmilk');"/>
    
  </div>
  <div>
    <a href="#" onclick="click_link('bloodsugarsexmagik');">Blood Sugar Sex Magik (1991)</a>
    <img src="/static/pics/bssm.jpg" alt="Blood Sugar Sex Magik" width="140" height="140" onclick="click_link('bloodsugarsexmagik');"/>
    
  </div>
  <div>
    <a href="#" onclick="click_link('onehotminute');">One Hot Minute (1995)</a>
    <img src="/static/pics/onehotminute.jpg" alt="One Hot Minute" width="140" height="140" onclick="click_link('onehotminute');"/>
    
  </div>
  <div>
    <a href="#" onclick="click_link('californication');">Californication (1999)</a>
    <img src="/static/pics/californication.jpg" alt="Californication" width="140" height="140" onclick="click_link('californication');"/>
    
  </div>
  <div>
    <a href="#" onclick="click_link('bytheway');">By The Way (2002)</a>
    <img src="/static/pics/btw.jpg" alt="By The Way" width="140" height="140" onclick="click_link('bytheway');"/>
    
  </div>
  <div>
    <a href="#" onclick="click_link('stadiumarcadium');">Stadium Arcadium (2006)</a>
    <img src="/static/pics/sa.jpg" alt="Stadium Arcadium" width="140" height="140" onclick="click_link('stadiumarcadium');"/>
    
  </div>
  <div>
    <a href="#" onclick="click_link('imwithyou');">I'm With You (2011)</a>
    <img src="/static/pics/iwy.jpg" alt="I'm With You" width="140" height="140" onclick="click_link('imwithyou');"/>
    
  </div>
  <div>
    <a href="#" onclick="click_link('imbesideyou');">I'm Beside You (2013)</a>
    <img src="/static/pics/imbesideyou.jpg" alt="I'm Beside You" width="140" height="140" onclick="click_link('imbesideyou');"/>
    
  </div>
  <div>
    <a href="#" onclick="click_link('thegetaway');">The Getaway (2016)</a>
    <img src="/static/pics/getaway.jpg" alt="The Getaway" width="140" height="140" onclick="click_link('thegetaway');"/>
  </div>

  

</div>
{% endblock %}