* {
  margin:0;
  padding:0;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
}

body,html {
  background-color:#f1f1f1;
  height: 100vh;
}

@font-face {
  font-family: TitleFont;
  src: url("/static/fonts/Courgette-Regular.ttf");
}

#header {
  width:100%;
  background: #F00;
  position: relative;
}

#header h1 {
  color: white;
  padding-left: 2.5rem;
  font-size: 3rem;
}
#header a {
  text-decoration: none;
  color:white;
  font-family: TitleFont;
}

#content {
  background: #F1f1f1;
}

#tracklistTable {
  margin-top: 1rem;
}

#tracklistTable a {
  color: #8ab4f8;
}

#All {
  margin-left:5%;
}

.site {
  margin-top: 5%;
  width: 30%;
  height: 350px;
  margin:0 1.5%;
  background:white;
  display:inline-block;
}

#title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  font-family: TitleFont;
  color: white;
}

#instrument_list {
  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#instrument_list p {
  padding: 5px;
  font-size: 16px;
}

#subtitle {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

.arrow {
  position: absolute;
  z-index: 11;
  top: 50%;
  margin-left:5px;
  display: inline-block;
  width: .4em;
  height: .4em;
  border-right: .2em solid #B22222;
  border-top: .2em solid #B22222;
  
  transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow_up {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#album_dropdown {
  width:225px;
}
#album_dropdown a {
  width: 100%;
  display:block;
  background: #232526;
  color: white;
  padding: 5px;
  border-bottom: 1px solid;

}
#album_dropdown a:hover {
  color: #F00000;
  cursor: pointer;
  border-color:white;
}

#album_cover {
}
#album_cover img {
  width:200px;
  height:200px;
}
#album_info {
  padding-top: 1rem;
  color:white;
  display: flex;
}
#album_info #title {
  text-align: left;
  font-size: 24px;
}
#album_songs {
  width:70%;
  margin-left: 15%;
  margin-top: 1rem;
  border-collapse: collapse;
}

#album_songs tr:nth-child(even) {
  background: #f1f1f1;
}
#album_songs tr:nth-child(odd) {
  background: white;
}
#album_songs tr.header {
  background: #F00;
  color: white;
}
.song {
  text-align: center;
}
.song td,tr.header th {
  padding:5px;
  font-family: TitleFont;
}

.song td, .header th {
  text-align: left;
}

.song td:nth-child(2) {
  width: 40%;
}

.song td:nth-child(1),.header th:nth-child(1) {
  text-align: center;
}
.song a {
  font-family: TitleFont;
  margin-right: 7px;
}

#thumbnail_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#thumbnail_div div {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

#thumbnail_div div img {
  cursor: pointer;
  width: 90%;
  border-radius: 2rem;
}

#thumbnail_div a {
  font-family: TitleFont;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 700px) {
  #thumbnail_div div {
    width:calc(100% / 3);
  }
}

@media (max-width: 400px) {
  nav a {
    width:60px;
  }
  #thumbnail_div div img {
  }
  #album_cover, #album_cover img, #album_info {
    width:125px; height:125px;
  }
  #album_cover img {
    margin:0;
  }
  #album_songs {
    margin: 0;
  }
  #album_info {
    padding: 0;
    width:calc(100% - 125px);
  }
  #album_info #title {
    font-size:18px;
  }
}

@media (max-width: 320px) {
  nav a {
    width:50px;
  }
  #album_info #title {
    text-align: center;
  }
}